.Buttons {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    padding: 40px;
}
.Buttons button {
    background-color: #006064;
    color: white;
    border: none;
    border-radius: 5px;
    margin: 10px 20px;
    padding: 20px;
    text-transform: uppercase;
    font-weight: bold;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    cursor: pointer;
}
.Buttons button:hover {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}